
html body {
    font-family:Verdana;
    margin-top:0px;
    margin-left:0px;
    margin-bottom:0px;
    margin-right:0px;
    overflow-x:hidden;
}

.pgContent {
    margin-left:20px;
    margin-top:20px;
}

.ovall {
    display: inline-block;
}

.overallbar {
    border: solid 1px #808080;
    width: 90%;
    height: 15px;
    float: left;
    margin-top: -20px;
    position: relative;
}

.overallbarfill {
    background-color: #808080;
    width: 90%;
    height: 15px;
    float: left;
    position: relative;
    font-family: 'Fjalla One', sans-serif;
    font-size: 12px;
    text-align:center;
    color:#3c3b3b;
}

.mnCnt {
    position: relative;
    float: left;
    font-family: 'Fjalla One', sans-serif;
    font-size: 65px;
    margin-top: -13px;
    padding-right: 5px;
}

.gpCnt {
    position: relative;
    float: left;
    font-family: 'Fjalla One', sans-serif;
    font-size: 65px;
    margin-top: -13px;
    padding-right: 5px;
}

.hshRate {
    position: relative;
    float: left;
    font-family: 'Fjalla One', sans-serif;
    font-size: 65px;
    margin-top: -13px;
    padding-right: 5px;
}

.mhs {
    position: relative;
    float: left;
    font-family: 'Fjalla One', sans-serif;
    font-size: 25px;
    margin-top: 28px;
    padding-right: 5px;
}

#machines {
    background-image: url(../Images/cpu-sm.png);
    background-repeat: no-repeat;
    filter: opacity(40%);
    height: 50px;
    width: 50px;
    position: relative;
    float: left;
    padding-top: 40px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 15px;
    padding-right: 80px;
}

#gpuscnt {
    background-image: url(../Images/gpu-small.png);
    background-repeat: no-repeat;
    filter: opacity(40%);
    height: 50px;
    width: 50px;
    position: relative;
    float: left;
    padding-top: 40px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 15px;
    padding-right: 80px;
}

#mhs {
    background-image: url(../Images/hash.jpg);
    background-repeat: no-repeat;
    filter: opacity(40%);
    height: 50px;
    width: 50px;
    position: relative;
    float: left;
    padding-top: 40px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 15px;
    padding-right: 80px;
}


.pgTitle {
    background-image: url(../Images/bg.jpg);
    background-repeat: repeat-x;
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    color: white;
    padding: 10px;
    width:100%;
}
.subTitle {
    font-size: 18px;
    font-family: 'Nanum Pen Script', cursive;
}

input {
    font-variant: small-caps;
    font-weight: bold;
    font-family: Tahoma;
}

#time {
    float:right;
    color:white;
    margin-top:-30px;
    padding-right:20px;
}

.Mstr {
    position: relative;
    margin-top: 30px;
    float: left;
    margin-right: 30px;
    border-bottom: solid 5px white;
}

.Sel {
       border-bottom:solid 5px #30671a;
    }

.Child {
    width: 14px;
    bottom: 10px;
    position: absolute;
}

.green {
    background-color: #30671a;
}

.red {
    background-color: red;
}

.yellow {
    background-color: #cbcc44;
}

.zero {
    background-color:red;
    height:100% !important;
}

.container {
    height: 100px;
    width: 14px;
    position: relative;
    float: left;
    margin: 0px 1px 0px 0px;
    font-family: Arial Black;
    font-size: 8px;
    color: Black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    cursor:pointer;
}

.Miner {
    position: relative;
    clear: both;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    vertical-align: middle;
    text-align: center;
    padding-top: 3px;
    border: solid 1px gray;
    height: 16px;
}

.minerbar {
    width: 90%;
    position: absolute;
    margin-top: -3px;
    height: 20px;
    z-index: -1
}

#overallbar {
    position: relative;
    background-color: #f7c607;
    height: 50px;
    
}

#score {
    font-family: Aldrich;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    margin-top: -35px;
    margin-left: 20px;
    text-align: center;
}

#overallStatus {
    width: 70px;
    border: solid 1px gray;
    cursor: pointer;
    float:left;
}

.btnMiner {
    width:100%;
}

.chart {
    background-image: url('http://localhost:52424/images/chart1.png');
    background-repeat: no-repeat;
    background-color: black;
    border:none;
    color:white;
}

.alerts {
    position:relative;
}

    .alerts div {
        float:left;
        text-align:center;
        min-width:25px;
    }

.cnt {
    clear: both;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    font-family: Arial;
    font-size: 10px;
    font-weight:bold;
    margin-right: 2px;
    padding: 2px;
    background-color: antiquewhite;
    color: black;
}

.duration {
    clear: both;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    font-family:Arial;
    font-size:8px;
    margin-right:2px;
    padding:2px;
    background-color:black;
    color:white;
}

.iframe {
    width:100%;
    height:800px;
}

.hidden {
    visibility:hidden;
    display:none;
}

.c40 {
    border-bottom: solid 5px #00E53C;
}

.c41 {
    border-bottom: solid 5px #00E42E;
}

.c42 {
    border-bottom: solid 5px #00E320;
}

.c43 {
    border-bottom: solid 5px #00E213;
}

.c44 {
    border-bottom: solid 5px #00E106;
}

.c45 {
    border-bottom: solid 5px #06E000;
}

.c46 {
    border-bottom: solid 5px #13DF00;
}

.c47 {
    border-bottom: solid 5px #20DE00;
}

.c48 {
    border-bottom: solid 5px #2DDD00;
}

.c49 {
    border-bottom: solid 5px #3ADC00;
}

.c50 {
    border-bottom: solid 5px #46DB00;
}

.c51 {
    border-bottom: solid 5px #53DA00;
}

.c52 {
    border-bottom: solid 5px #5FD900;
}

.c53 {
    border-bottom: solid 5px #6BD800;
}

.c54 {
    border-bottom: solid 5px #78D700;
}

.c55 {
    border-bottom: solid 5px #84D600;
}

.c56 {
    border-bottom: solid 5px #8FD500;
}

.c57 {
    border-bottom: solid 5px #9BD400;
}

.c58 {
    border-bottom: solid 5px #A7D300;
}

.c59 {
    border-bottom: solid 5px #B2D200;
}

.c60 {
    border-bottom: solid 5px #BED100;
}

.c61 {
    border-bottom: solid 5px #C9D000;
}

.c62 {
    border-bottom: solid 5px #CFCA00;
}

.c63 {
    border-bottom: solid 5px #CEBD00;
}

.c64 {
    border-bottom: solid 5px #CDB000;
}

.c65 {
    border-bottom: solid 5px #CCA300;
}

.c66 {
    border-bottom: solid 5px #CB9600;
}

.c67 {
    border-bottom: solid 5px #CA8A00;
}

.c68 {
    border-bottom: solid 5px #C97D00;
}

.c69 {
    border-bottom: solid 5px #C87100;
}

.c70 {
    border-bottom: solid 5px #C76500;
}

.c71 {
    border-bottom: solid 5px #C65800;
}

.c72 {
    border-bottom: solid 5px #C54C00;
}

.c73 {
    border-bottom: solid 5px #C44100;
}

.c74 {
    border-bottom: solid 5px #C33500;
}

.c75 {
    border-bottom: solid 5px #C22900;
}

.c76 {
    border-bottom: solid 5px #C11D00;
}

.c77 {
    border-bottom: solid 5px #C01200;
}

.c78 {
    border-bottom: solid 5px #BF0700;
}

.c79 {
    border-bottom: solid 5px #BF0003;
}